

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.app-component{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
   margin: 60px auto;
   max-width: 900px;
}